<h4>さんの会員詳細</h4>
<h6>会員ID</h6>
<h6>氏名</h6>
<h6>フリガナ</h6>
<h6>郵便番号</h6>
<h6>住所</h6>
<h6>電話番号</h6>
<h6>メールアドレス</h6>
<h6>会員ステータス</h6>
<%= link_to "編集する", edit_admin_customer_path(@customer) %>
<%= link_to "注文履歴一覧を見る", admin_path %>
