<h2>注文履歴詳細</h2>

<h4>購入者</h4>
<h4>注文日</h4>
<h4>配送先</h4>
<h4>支払い方法</h4>
<h4>購入者</h4>


<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <!--<tbody>-->
  <!-- 以下の@ordersはURL指定できるのか？それともhomesコントローラの@ordersを指定するには？ -->
  <!-- @orders は 会員側でも使いそうなので、@admin_side_orderとしておけば、1つだけ場所も特定できる。-->
  <!--大なり% admin_side_orders.each do |item| %>-->
    <!--<tr>-->
      <!--<td>大なり%= item.id %></td>-->
      <!--<td>大なり%= item.name %></td>-->
      <!--<td>大なり%= item.price %></td>-->
    <!--</tr>-->
  <!--大なり% end %>-->
  </tbody>
</table>
